body {
    margin: 0;
    padding: 0;
    font-family:'Lato';
}
.main-header {
    text-align: center;
    background-size: cover;
    height: fit-content;
    position: relative;
}
.header-image1 {
    height: fit-content;
    width: 1518px;
    position: relative;
    background-size: cover;
}
.header-image2{
    height: 150px;
    border: solid rgb(46, 140, 234) 10px;
}
.header-heading1{
    font-weight: 50px;
    font-size: 50px;
    color: white;

}
.header-paragraph1 {
    letter-spacing: 5px;
    font-size: 20px;
    color: rgb(255, 222, 6);
}

.section {
    text-align: center;
    position: absolute;
    top: 150px;
    left: 1100px;
    line-height: 5px;
}
.header-paragraph2 {
    font-size: 15px;
    display: inline-block;
    border: 3px solid rgb(255, 255, 255);
    padding: 10px 20px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: 300;
    margin-top: 20px;
    color: rgb(181, 15, 7);
}
.header-paragraph2:hover{
    background-color: white;
}
.main-image {
    margin: 100px;
    height: 600px;
    float: left;
    margin-top: 20px;
}
.main-paragraph {
    margin: 100px;
    height: 600px;
   padding-top: 20px;
}

.main-paragraph1 {
    line-height: 2.0;
    font-size: 20px;
    
}
.main-paragraph2 {
    font-size: 20px;
}

footer {
    height: auto;
    background-color: rgb(255, 222, 6);
    margin: 0;
    padding: 0;
}
.footer-heading1 {
    color: rgb(181, 15, 7);
    text-align: center;
    padding: 30px;
    margin: 0;
    font-size: 20px;
}